[Unit]
Description=Serve File Server
After=network.target
ConditionPathExists=/usr/local/bin/serve

[Service]
Type=simple
# User=serve
# Group=serve
# WorkingDirectory=/var/lib/serve
ExecStart=/usr/local/bin/serve run --config /etc/serve/serve.toml
Restart=on-failure
RestartSec=5s
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target
